//BREAKPOINTS
$breakpoint1: 1440px;
$breakpoint2: 1150px;
$breakpoint3: 830px;
$breakpoint4: 630px;
$breakpoint5: 450px;
$breakpoint6: 380px;
$breakpoint_secondary1: 955px;
$breakpoint_secondary2: 700px;
$wider_breakpoint: 1900px;
$wide_breakpoint: 1800px;
$wide_breakpoint1: 1640px;
$wide_breakpoint2: 1400px;
$wide_breakpoint3: 1540px;

$vertical_breakpoint1: 700px;

