@import "mixins";

.form {
  padding: 24px;
  gap: 28px;
  @include flexColumn;

  &__item {
    background: var(--white);
    padding: 16px;
    border-radius: 16px;
    gap: 8px;
    @include flexColumn;

    label {
      color: var(--light-gray-text-color);
      @include font-16px;

    }

    textarea {
      overflow-y: hidden;
      word-wrap: break-word;
      height: fit-content;
      resize: none;
    }

    input, textarea {
      border: none;
      border-bottom: 1px solid var(--light-gray1);
      outline: none;
      stroke: none;
      resize: vertical;
      padding-bottom: 2px;
      @include font-20px;

      &:focus-visible, &:focus {
        border-bottom: 1px solid var(--interstellar-gray);
      }
    }
  }
}
