@import "mixins";

.header {
  height: var(--header-height);
  width: 100%;
  @include flexRow;

  &__left {
    flex: 1;
    border-bottom: 1px solid var(--light-gray);

    @include toCenter;
  }

  &__right {
    background: var(--light-gray);
    width: var(--right-side);
    border-bottom: 1px solid var(--light-gray1);
    @include toCenter;
  }

  &__side_label {
    font-weight: 600;
    @include font-24px
  }
}